.container-categorias {
  border: 1px solid yellow;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.container-categorias div h2{
  margin-bottom: 20px;
}

.container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.container-botoes button {
  padding: 10px;
  flex: 1 1 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.container-botoes button img {
  width: 20px;
}